.orderPage {
  background-color: #fff;
}
.orderPage .topTabs {
  padding: 7px 0 0 15px;
}
.orderPage .ant-table-thead > tr > th {
  padding: 0!important;
}
.orderPage .order-page {
  padding: 0;
}
.orderPage .order-page .g-img {
  color: #1890ff;
  cursor: pointer;
}
.orderPage .order-page .searchForm {
  padding-top: 20px;
}
.orderPage .order-page .ant-select-selection {
  width: 100%!important;
}
.orderPage .order-page .ant-form-item-control {
  width: 100%!important;
}
.orderPage .order-page .bar {
  color: #108ee9;
  margin: 10px 0 0 20px;
  cursor: pointer;
}
.orderPage .order-page .fr {
  padding-left: 5px;
  padding-top: 12px;
  color: #108ee9;
  cursor: pointer;
  margin-bottom: 30px;
}
.orderPage .order-page .ant-card-bordered {
  border: 0!important;
}
.orderPage .order-page .formSearch {
  background-color: #fff;
}
.orderPage .order-page .ant-card-body {
  padding: 0 15px;
}
.orderPage .order-page .btns {
  float: right;
  margin-top: 5px;
}
.orderPage .order-page .btns button {
  margin-left: 20px;
}
.orderPage .order-page .btns .anticon {
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
}
.orderPage .order-page .od_list__card .ant-tag {
  height: 40px;
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
}
.orderPage .order-page .lh_s {
  line-height: 34px;
}
.orderPage .order-page .od_list__table .head {
  background: #dbf3ff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
.orderPage .order-page .od_list__table .wrapper {
  margin: 10px 0;
}
.orderPage .order-page .od_list__table .wrapper thead th {
  height: 0;
  padding: 0;
}
.orderPage .order-page .od_list__table .wrapper td {
  text-align: center;
}
.orderPage .order-page .od_list__table .wrapper .ant-table-title {
  padding: 0;
  background-color: #f5f5f5;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  text-align: center;
}
.orderPage .order-page .od_list__table .new_column_type {
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.orderPage .order-page .od_list__table .new_column_type p {
  float: left;
  overflow: hidden;
}
.orderPage .order-page .od_list__table .new_column_type p:first-child {
  width: 370px;
  padding-left: 10px;
  text-align: left;
}
.orderPage .order-page .od_list__table .new_column_type p:nth-child(2) {
  width: 300px;
}
.orderPage .order-page .od_list__table .new_column_type p:nth-child(3) {
  width: 250px;
}
.orderPage .order-page .od_list__table .new_column_type p:nth-child(4) {
  width: 250px;
}
.orderPage .order-page .fl_r {
  float: right;
}
.orderPage .order-page .mr_l {
  margin-right: 15px;
}
.orderPage .order-page .order-info {
  padding-top: 5px;
  line-height: 1.1;
  text-align: center;
}
.orderPage .order-page .order-info .innerBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
}
.orderPage .order-page .order-info .innerBox .productInfo {
  text-align: left;
  cursor: pointer;
}
.orderPage .order-page .order-info .innerBox .orderPrice {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  color: #aaa;
}
.orderPage .order-page .order-info .pic {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.orderPage .order-page .order-info p {
  margin-bottom: 2px;
  color: #666;
}
.orderPage .order-page .order-info .sku {
  font-size: 11px;
}
.orderPage .order-page .order-info .name {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.orderPage .order-page .order-info .name a {
  color: #666;
}
.orderPage .order-page .ant-table-row:hover td {
  background: #fff;
}
.orderPage .order-page .ant-table-row td:nth-child(1) {
  width: 30%;
}
.orderPage .order-page .ant-table-row td:nth-child(2) {
  width: 15%;
}
.orderPage .order-page .ant-table-row td:nth-child(3) {
  width: 10%;
}
.orderPage .order-page .ant-table-row td:nth-child(4) {
  width: 20%;
}
.orderPage .order-page .ant-table-row td:nth-child(5) {
  width: 10%;
}
.orderPage .order-page .ant-table-row td:nth-child(6) {
  width: 15%;
}
.pay_viewradio {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}
.pay_viewradio.bank-alipay {
  width: 114px;
  height: 28px;
  background: url('../../../resource/assets/images/bank_alipay.jpg') no-repeat;
  background-size: 97% 95%;
}
.pay_viewradio.bank-wechatpay {
  width: 114px;
  height: 28px;
  background: url('../../../resource/assets/images/bank_wechatpay.png') no-repeat;
  background-size: 91% 97%;
}
.payment-page {
  background: #fff;
  font-size: 12px;
}
.payment-page .paychat {
  width: 300px;
  margin: 0 auto;
}
.payment-page .paychat li {
  position: relative;
  text-align: center;
}
.payment-page .paychat .hv {
  position: absolute;
  top: -8px;
  right: -105px;
  width: 150px;
  height: 135px;
  text-indent: -99999px;
  background: url('../../../resource/assets/images/bank_alipay_iocn.jpg') no-repeat 0 0;
}
.payment-page .paychat .hv.weixin {
  background: url("../../../resource/assets/images/bank_wechatpay_iocn.jpg") no-repeat 0 0;
  right: -105px;
  width: 150px;
  height: 190px;
}
.payment-page .m {
  font-size: 36px;
  color: #ea5307;
}
.payment-page .p-wrap {
  width: 180px;
  text-align: center;
  margin: 0 auto;
  padding: 6px;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
}
.payment-page .qrcode-img-explain img {
  margin-left: 20px;
  margin-top: 5px;
  float: left;
}
.payment-page .qrcode-img-explain .tips {
  margin-left: 10px;
  float: left;
}
.payment-page .imgBox {
  width: 168px;
  height: 168px;
}
.payment-page .ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
  position: absolute!important;
}
