#superWebPerformanceInfo {
  padding: .3rem;
  background-color: #002140;
  min-height: calc(100vh);
  overflow: scroll;
}
#superWebPerformanceInfo .pageTitle {
  position: relative;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background-color: #999;
  color: #000;
  font-size: .3rem;
  text-align: center;
  font-weight: bold;
}
#superWebPerformanceInfo .pageTitle .returnIcon {
  width: .45rem;
  height: .58rem;
  position: absolute;
  left: .2rem;
  top: .2rem;
}
#superWebPerformanceInfo .pageTitle .returnIcon svg {
  width: 100%;
  height: 100%;
}
#superWebPerformanceInfo .head {
  width: 100%;
  height: .8rem;
  background-color: #fff;
}
#superWebPerformanceInfo .head_flex {
  height: .8rem;
}
#superWebPerformanceInfo .head_img {
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  overflow: hidden;
}
#superWebPerformanceInfo .head_name {
  width: 4rem;
  height: .6rem;
  text-align: left;
  line-height: .6rem;
  font-size: .4rem;
  font-weight: bold;
  margin-left: .2rem;
}
#superWebPerformanceInfo .head_name input {
  margin-top: .17rem;
  font-size: .3rem;
}
#superWebPerformanceInfo .head_search {
  width: .6rem;
  height: .6rem;
  margin-left: .9rem;
  cursor: pointer;
}
#superWebPerformanceInfo .head_search :first-child {
  width: .6rem;
  height: .6rem;
}
#superWebPerformanceInfo .mainUserInfo {
  width: 100%;
  min-height: 2rem;
  background-color: #fff;
  margin-bottom: .3rem;
}
#superWebPerformanceInfo .mainUserInfo .head_flexs {
  width: 100%;
  min-height: 2rem;
}
#superWebPerformanceInfo .mainUserInfo .userHeadImg {
  width: 1rem;
  height: 1.8rem;
}
#superWebPerformanceInfo .mainUserInfo .userHeadImg img {
  width: .9rem;
  height: .9rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: .1rem;
}
#superWebPerformanceInfo .mainUserInfo .userHeadImg a {
  height: .5rem;
  line-height: .5rem;
  margin-top: .8rem;
  margin-right: .1rem;
  border: .02rem solid #333;
  background-color: #fff;
}
#superWebPerformanceInfo .mainUserInfo .userHeadImg span {
  height: .5rem;
  line-height: .5rem;
  color: #333;
  font-size: .3rem;
  font-weight: bold;
  display: inline-block;
}
#superWebPerformanceInfo .mainUserInfo .userMaintxt {
  padding-top: .1rem;
  margin-left: .2rem;
  width: 2.7rem;
  min-height: 1.8rem;
  color: #333;
  font-size: .25rem;
  font-weight: bold;
}
#superWebPerformanceInfo .mainUserInfo .userMaintxt p {
  margin-bottom: .1rem;
}
#superWebPerformanceInfo .mainUserInfo .userCopy {
  width: 1rem;
  height: 1.8rem;
  padding-top: .4rem;
}
#superWebPerformanceInfo .mainUserInfo .userCopy :first-child {
  background-color: #fff;
}
#superWebPerformanceInfo .mainUserInfo .userCopy a {
  border: .02rem solid #333;
}
#superWebPerformanceInfo .mainUserInfo .userCopy span {
  color: #333;
  font-size: .3rem;
  font-weight: bold;
}
#superWebPerformanceInfo .mainUserInfo .userMoreInfo {
  padding-top: .1rem;
  margin-left: .2rem;
  width: 3.3rem;
  min-height: 1.8rem;
  color: #333;
  font-size: .25rem;
  font-weight: bold;
}
#superWebPerformanceInfo .mainUserInfo .userMoreInfo p {
  margin-bottom: .1rem;
}
