.order_detail_page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f1f1;
    z-index: 202;
    overflow: auto;
}
 
.white_color {
    position: relative;
    background: #fff;
}
 
.location_icon {
    background: url(../../../../common/images/location_icon.png) no-repeat scroll center center / 11px 15px;
    font-size: 0.83rem;
    line-height: 2.55rem !important;
    /* float: left; */
    /* margin-left: 0.42rem; */
    /* margin-right: 0.42rem; */
    /* margin-top: .6rem; */
    width: 0.83rem;
    position: absolute;
    top: .5rem;
    left: 0.3rem;
}
 
 .app-order p {
    margin: 0;
 }
 
 .order_sh {
    margin-top: 0.83rem;
    display: inline-block;
    line-height: 1.28rem;
 }
 
 .d {
    font-size: 0.55rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
    margin-left: 1.42rem;
    margin-top: 0.12rem;
 }
 
 .d span {
    color: #8f8f94;
 }
 
 .order_info {
    border-top: 0.42rem solid #ebebeb;
 }
 
 .order_info_top {
    height: 3.968rem;
    border-bottom: 1px solid #ebebeb;
    background-color: #FB4c51;
    position: relative;
 }
 .store_icon {
    background: url(../../../../common/images/footer/icon_shop2.png) no-repeat scroll center center / 15px 15px;
    float: left;
    color: #333;
    display: inline-block;
    font-weight: bold;
    height: 1.58rem;
    vertical-align: top;
    width: 0.83rem;
    line-height: 1.7rem;
    margin-left: 0.42rem;
    margin-right: 0.42rem;
    margin-top: 0.12rem;
 }
 
 .order_info_aptxt {
     float: left;
     line-height: 1.7rem;
     font-size: 0.6rem;
     color: #999;
 }
 
 .order_info_top label {
    float: left;
    line-height: 4rem;
    margin-left: 1.636rem;
    color: #fff;
    font-size: .768rem;
 }
 
 .app-order ul {
     margin: 0;
     padding: 0;
     list-style: none;
     width: 100%;
 }
 
 .order_info_one li {
     list-style: none;
     overflow: hidden;
     position: relative;
     /* border-bottom: 1px solid #eee; */
     border-bottom: 0.5px solid #f5efef;
     height: 4.1rem;
     width: 100%;
 }
 
 .order_info_one_txt {
    padding-top: 0.42rem;
    font-size: 0.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    word-break: break-all;
    margin-bottom: 0.7rem;
    width: 55%;
    float: left;
    line-height: 0.8rem;
 }
 
 .l_indent_content_shop_right {
    float: right;
    margin-right: 0.42rem;
    padding-top: 0.83rem;
    font-size: 0.6rem;
    text-align: right;
 }
 
 .l_indent_content_shop_right p {
     margin-bottom: 0.22rem;
 }
 
 .l_indent_content_shop_sl {
     color: #999;
     font-size: 0.5rem;
 }
 
 .l_indent_content_shop_rufund {
     color: #F84C51;
     font-size: 0.5rem;
 }

 .order_info_one_div img {
     width: 20%;
     float: left;
     height: 3.4rem;
     margin-top: 0.42rem;
     margin-right: 0.42rem;
     margin-left: 0.42rem;
     overflow: hidden;
 }
 
 .order_info_two li {
    list-style: none;
    margin-left: 0.42rem;
    margin-right: 0.42rem;
    overflow: auto;
 }
 
 .l_yf_num_d {
     float: right;
     line-height: 1.28rem;
     color: #F84C51;
     font-size: 0.6rem;
 }
 
 .l_yf_num {
     float: right;
     font-size: 0.5rem;
     line-height: 1.28rem;
     color: #787878;
 }
 
 .l_yf_p {
     font-size: 0.5rem;
     float: left;
     line-height: 1.28rem;
     color: #787878;
 }
 
 .l_yf_p_d {
     font-size: .512rem;
     float: left;
     line-height: 1.28rem;
     padding-bottom: 0.42rem;
     color: #666666;
 }
 .manager{
    border-top: 0.42rem solid #f1f1f1;
    width: 100%;
    height: 2.8rem;
    background-color: #fff;
    font-size: 0;
    /* position: relative; */
    padding-top: .5rem;
    padding-left: 1.5rem;
 }
 .mana1{
    width: 6rem;
    height: 1.36rem;
    line-height: 1.36rem;
    font-size: .6rem;
    border: .04rem solid #C9C9C9;
    display: inline-block;
    position: relative;
    color: #666666;
 }
 .mana1 img{
    width: .68rem;
    height: .68rem;
    position: absolute;
    left: 1.28rem;
    top: .36rem;
 }
 .mana1 span{
    width: 3.2rem;
    height: .6rem;
    position: absolute;
    left: 2.28rem;
    top: .4rem;
    display: block;
    line-height: .6rem;
 }
 .mana2{
     display: block;
    width: 6rem;
    height: 1.36rem;
    line-height: 1.36rem;
    font-size: .6rem;
    border: .04rem solid #C9C9C9;
    display: inline-block;
    position: relative;
    margin-left: 1rem;
    color: #666666;
 }

 .mana2 img{
    width: .68rem;
    height: .68rem;
    position: absolute;
    left: 1.28rem;
    top: .36rem;
 }
 .mana2 span{
    width: 3.2rem;
    height: .6rem;
    position: absolute;
    left: 2.28rem;
    top: .4rem;
    display: block;
    line-height: .6rem;
 }
 .mana2 img{
    width: .68rem;
    height: .68rem;
 }

 .order_info_bot {
     padding: 0.42rem;
     border-top: 0.42rem solid #f1f1f1;
     border-bottom: 0.42rem solid #f1f1f1;
     /* margin-bottom: 80px; */
 }
 
 .l_indent_content_shop_bh {
     font-size: 0.5rem;
     color: #8d8da2;
     line-height: 0.83rem;
 }
 
 .l_indent_content_shop_bh {
     font-size: 0.5rem;
     color: #8d8da2;
     line-height: 0.83rem;
 }
 
 .l_indent_content_shop_bh span {
     margin-left: 0.42rem;
     color: #8d8da2;
 }
 
 .order-detail-footer {
     height: 2rem;
     width: 100%;
     position: fixed;
     bottom: 0;
 }
 
 .order-detail-bth-style {
     float: right;
     margin-top: 0.42rem;
 }
 
 .btn-payment {
     border: 1px solid #eaeaea;
     width: 3rem;
     height: 1.1rem;
     line-height: 1.05rem;
     text-align: center;
     font-size: 0.5rem;
     display: inline-block;
     margin: 0.4rem 0.4rem 0.3rem 0;
 }
 
 .bordercolor1 {
     color: #F84C51;
     border-color: #F84C51;
 }
 
 .bordercolor2 {
     color: #666666;
     border-color: #eee;
 }
 
 .coverpart {
     width: 100%;
     height: 100%;
    position: absolute;
    top: 0;
    right: 0;
 }
 .cover-background {
     width: 100%;
     height: 100%;
     position: absolute;
    top: 0;
    right: 0;
     background: #000;
     z-index: 100;
     opacity: .2;
 }
 .cover-content {
     width: 80%;
     background: #fff;
     padding: 17px;
     position: fixed;
     top: 25%;
     left: 10%;
     z-index: 1000;
     border-radius: 5px;
 }
 .cover-content .sa-icon {
     width: 90px;
     height: 90px;
     border: 4px solid #f8bb86;
     border-radius: 50%;
     margin: 20px auto;
     position: relative;
 }
 .cover-content .sa-icon .sa-body {
     width: 5px;
     height: 47px;
     border-radius: 2px;
     background: #f8bb86;
     position: absolute;
    left: 50%;
    transform: translateX(-50%);
     top: 10px;
 }
 .cover-content .sa-icon .sa-dot {
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background: #f8bb86;
     position: absolute;
    left: 50%;
    transform: translateX(-50%);
     bottom: 10px;
 }
 .cover-content h2 {
     width: 100%;
     text-align: center;
     font-size: 16px;
     color: #575757;
     font-weight: 500;
     margin: 25px 0;
 }
 .cover-content .sa-botton {
     width: 100%;
     text-align: center;
     
 }
 .cover-content .sa-botton button {
     display: inline-block;
     padding: .4rem 1rem;
     border-radius: 5px;
     font-size: .6rem;
     color: #fff;
     letter-spacing: 1px;
     margin-top: 26px;
 }
 .cover-content .sa-botton .waiting {
     background: #C1C1C1;
     margin-right: .4rem;
     width: 5rem;
 }
 .cover-content .sa-botton .quitlogin {
     background: #F84C51;
     width: 5rem;
 }
 .cover-content .sa-botton .callPhone {
     background: #C1C1C1;
     margin-right: .4rem;
     width: 5rem;
    color: #0084FF;
    line-height: .853333rem;
    background-color: white;
    font-size: .725333rem
 }
 
 @-webkit-keyframes bounceIn {
     from,
     20%,
     40%,
     60%,
     80%,
     100% {
         -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
         animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
     }
     0% {
         opacity: 0;
         -webkit-transform: scale3d(.3, .3, .3);
         transform: scale3d(.3, .3, .3);
     }
     20% {
         -webkit-transform: scale3d(1.1, 1.1, 1.1);
         transform: scale3d(1.1, 1.1, 1.1);
     }
     40% {
         -webkit-transform: scale3d(.9, .9, .9);
         transform: scale3d(.9, .9, .9);
     }
     60% {
         opacity: 1;
         -webkit-transform: scale3d(1.03, 1.03, 1.03);
         transform: scale3d(1.03, 1.03, 1.03);
     }
     80% {
         -webkit-transform: scale3d(.97, .97, .97);
         transform: scale3d(.97, .97, .97);
     }
     100% {
         opacity: 1;
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
     }
 }
 
 @keyframes bounceIn {
     from,
     20%,
     40%,
     60%,
     80%,
     100% {
         -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
         animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
     }
     0% {
         opacity: 0;
         -webkit-transform: scale3d(.3, .3, .3);
         transform: scale3d(.3, .3, .3);
     }
     20% {
         -webkit-transform: scale3d(1.1, 1.1, 1.1);
         transform: scale3d(1.1, 1.1, 1.1);
     }
     40% {
         -webkit-transform: scale3d(.9, .9, .9);
         transform: scale3d(.9, .9, .9);
     }
     60% {
         opacity: 1;
         -webkit-transform: scale3d(1.03, 1.03, 1.03);
         transform: scale3d(1.03, 1.03, 1.03);
     }
     80% {
         -webkit-transform: scale3d(.97, .97, .97);
         transform: scale3d(.97, .97, .97);
     }
     100% {
         opacity: 1;
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
     }
 }
 
 @-webkit-keyframes zoomOut {
     from {
         opacity: 1;
     }
     50% {
         opacity: 0;
         -webkit-transform: scale3d(.3, .3, .3);
         transform: scale3d(.3, .3, .3);
     }
     100% {
         opacity: 0;
     }
 }
 
 @keyframes zoomOut {
     from {
         opacity: 1;
     }
     50% {
         opacity: 0;
         -webkit-transform: scale3d(.3, .3, .3);
         transform: scale3d(.3, .3, .3);
     }
     100% {
         opacity: 0;
     }
 }
 
 body .coverpart .cover-animate {
     transition: all 1s;
     animation: bounceIn .6s;
 }
 
 body .coverpart .cover-animate-leave {
     animation: zoomOut .4s;
 }
 
 .cover {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: rgba(0, 0, 0, .3);
     z-index: 203;
 }
 
 .choose_type_Container {
     min-height: 10rem;
     background-color: #fff;
     position: fixed;
     bottom: 0;
     width: 100%;
     z-index: 204;
 }
 .choose_type_Container header {
     background-color: #fafafa;
     /*@include sc(.7rem, #333);*/
     font-size: .7rem;
     color: #333;
     text-align: center;
     line-height: 2rem;
 }
 .choose_type_Container ul li {
     /*@include fj;*/
     display: flex;
     justify-content: space-between;
     padding: 0 .7rem;
     line-height: 2.5rem;
     align-items: center;
     
 }
.choose_type_Container ul li span {
     /*@include sc(.7rem, #333);*/
     font-size: .7rem;
     color: #333;
 }
 .choose_type_Container ul li svg {
     /*@include wh(.8rem, .8rem);*/
     width: .8rem;
     height: .8rem;
     fill: #eee;
 }
 .choose_type_Container ul .choose span {
     color: #333;
 }
 .choose_type_Container ul .choose svg {
     fill: #F84C51;
 }
 
 .assd_info-top {
     color: #F84C51;
     margin-top: 10px;
     font-size: 13px;
     margin-left: -10px;
     width: 80%;
 }
 
 .address_empty_right {
     /*@include wh(.6rem, .6rem);*/
     width: .6rem;
     height: .6rem;
     fill: #999;
 }
 
 .pay_msg1 {
     height: 52px;
     line-height: 52px;
     border-bottom: 1px solid #fafafa;
 }
 
 .pay_msg1 span {
     color: #666;
     font-size: 15px;
     margin-left: 6px;
 }
 
 .pay_msg1 img {
     width: 13px;
     position: relative;
     float: right;
     top: 20px;
     right: 11px;
 }
 
 .pay_msg {
     height: 51px;
     border-bottom: 1px solid #fafafa;
     line-height: 51px;
 }
 
 .pay_msg2 .order_time_msg {
     font-size: 14px;
     margin-left: 6px;
     color: #666;
     position: relative;
     top: -2px;
 }
 
 .pay_msg2 .order_money {
     position: relative;
     float: right;
     right: 11px;
     color: #F84C51;
     font-size: 16px;
 }
 
 .pay_icon {
     width: 22px;
     margin-left: 6px;
     margin-top: 14px;
 }
 
 .pay_text {
     color: #666;
     font-size: 14px;
     margin-left: 12px;
     position: relative;
     top: -5px;
 }
 
 .pay_msg6 {
     height: 70px;
     line-height: 70px;
     border: 1px solid #fff;
 }
 
 .pay_button {
     width: 94%;
     margin-left: 3%;
     height: 38px;
     line-height: 38px;
     background: #F84C51;
     border-radius: 5px;
     text-align: center;
     color: #fff;
     font-size: 15px;
     margin-top: 16px;
 }
 
 .pay_select_icon {
     width: 19px;
     position: relative;
     float: right;
     right: 11px;
     top: 16px;
 }
 
 .cover22 {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 9999999;
 }
 
 .ercode {
     position: absolute;
     z-index: 9999999;
     top: 25%;
     left: 0;
     bottom: 0;
     right: 0;
     margin: 0 auto;
     width: 300px;
 }
 
 .telimgdiv {
     text-align: center;
     font-size: 0.7rem;
 }
 
 .telimg {
     width: 2rem;
     border-radius: 1rem;
     display: inline-block;
     margin-right: .5rem;
 }
 
 .telspan {
     display: inline-block;
     max-width: 8rem;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     line-height: 2rem;
     color: #666;
 }
 
 .telmsg {
     font-size: 0.6rem;
     color: #666;
     padding: .8rem 0;
     border-bottom: 1px #eee solid;
 }
 
 .telbnt {
     text-align: center;
     font-size: 0.6rem;
 }
 
 .telbnt p {
     color: #3279dc;
     margin-top: 0.6rem;
 }

 .callPhoneClose img {
     width: 13px;
     position: relative;
     float: right;
     right: 1px;
}
.proTags{
    font-size: 0.5rem;
    color: #999;
    margin-top: .042667rem;
    width: 8.8rem;
    /* height: .853333rem; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.refundTag1{
    width: 2.901333rem;
    height: 1.024rem;
    text-align: center;
    line-height: 1.024rem;
    font-size: .5rem;
    color: #666666;
    position: absolute;
    right: .42rem;
    bottom: .3rem;
    border: none;
    border: .03rem solid #c9c9c9;
}
.refundTag2{
    width: 2.901333rem;
    height: 1.024rem;
    text-align: center;
    line-height: 1.024rem;
    font-size: .5rem;
    color: #666666;
    position: absolute;
    right: .42rem;
    bottom: .3rem;
    border: none;
    border: .03rem solid #c9c9c9;
}
.waitpay{
    width: 2.986667rem;
    height: .768rem;
    font-size: 0.7rem;
    line-height: .768rem;
    color: #fff;
    position: absolute;
    top: 0.9rem;
    left: 1.493333rem;
}
.waitpay1{
    width: 13rem;
    height: .768rem;
    font-size: .554667rem;
    line-height: .768rem;
    color: #fff;
    position: absolute;
    top: 2.3rem;
    left: 1.493333rem;
}
.order_product_name{
    height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;  
}
.fuzhi{
    width:  2rem;
    height: .85rem;
    font-size: .6rem;
    text-align: center;
    line-height: .8rem;
    /* padding: .2rem; */
    /* padding-bottom: .2rem; */
    color: #666;
    background: #fff;
    border: 0.5px solid #999;
    position: absolute;
    right: .42rem;
    top: .42rem;
}
