.containerrr {
  background-color: #fcfcfc;
  min-height: calc(100vh);
}
.containerrr .user {
  background: url('../../resource/assets/images/user-icon.png') no-repeat;
  background-position: 0 -15px;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 9px;
}
.containerrr .warntit {
  height: 30px;
  line-height: 30px;
  background-color: #ffffcc;
  text-align: center;
  color: #ff9933;
  border-bottom: 1px solid #e1e1e1;
}
.containerrr .login_wrap {
  padding-top: 3.6%;
  position: relative;
  height: 475px;
  background-image: url('../../resource/assets/images/login-banner.jpg');
  background-size: 990px 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E31939;
}
.containerrr .login_wrap .wrap {
  width: 1140px;
  margin: 0 auto;
}
.containerrr .login_wrap .wrap .left_banner {
  float: left;
  margin-top: 45px;
  width: 510px;
}
.containerrr .login_wrap .wrap .left_banner img {
  width: 100%;
  vertical-align: middle;
}
.containerrr .login_wrap .wrap .loginBox,
.containerrr .login_wrap .wrap .codebox {
  position: relative;
  float: right;
  width: 387px;
  height: 356px;
  padding: 103px 29px 0;
  background-color: #fff;
}
.containerrr .login_wrap .wrap .loginBox .error_tips,
.containerrr .login_wrap .wrap .codebox .error_tips {
  position: absolute;
  top: 74px;
  left: 29px;
  width: 328px;
  height: 24px;
  overflow: hidden;
  padding: 0 10px 0 36px;
  border: 1px solid #e5debc;
  border-radius: 2px;
  background: #fff7d1 url('../../resource/assets/images/login_new.png') no-repeat -324px -153px;
  line-height: 23px;
  color: #999;
}
.containerrr .login_wrap .wrap .loginBox .clearfix h3,
.containerrr .login_wrap .wrap .codebox .clearfix h3 {
  float: left;
  font-size: 14px;
  color: #666;
  font-weight: bold;
  line-height: 30px;
}
.containerrr .login_wrap .wrap .loginBox .clearfix .regist_new,
.containerrr .login_wrap .wrap .codebox .clearfix .regist_new {
  float: right;
  line-height: 30px;
}
.containerrr .login_wrap .wrap .loginBox .login_form,
.containerrr .login_wrap .wrap .codebox .login_form {
  position: relative;
}
.containerrr .login_wrap .wrap .loginBox .form_item_wrap,
.containerrr .login_wrap .wrap .codebox .form_item_wrap {
  width: 330px;
  margin: 0 auto;
}
.containerrr .login_wrap .wrap .loginBox .form_item,
.containerrr .login_wrap .wrap .codebox .form_item {
  position: relative;
  z-index: 100;
  height: 40px;
  margin-bottom: 12px;
  padding: 5px 18px;
  border: 1px solid #dddddd;
  background: #FFF;
  line-height: 24px;
}
.containerrr .login_wrap .wrap .loginBox .form_item.cur,
.containerrr .login_wrap .wrap .codebox .form_item.cur {
  z-index: 101;
}
.containerrr .login_wrap .wrap .loginBox .form_item label,
.containerrr .login_wrap .wrap .codebox .form_item label {
  display: inline-block;
  width: 35px;
  vertical-align: middle;
  color: #666;
  background-color: #DDD!important;
}
.containerrr .login_wrap .wrap .loginBox .form_item label.user_ico,
.containerrr .login_wrap .wrap .codebox .form_item label.user_ico {
  position: absolute;
  left: -1px;
  top: 0;
  width: 40px;
  height: 40px;
  background: url('../../resource/assets/images/icon_me2.png');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.containerrr .login_wrap .wrap .loginBox .form_item label.ecode_ico,
.containerrr .login_wrap .wrap .codebox .form_item label.ecode_ico {
  position: absolute;
  left: -1px;
  top: 0;
  width: 40px;
  height: 40px;
  background: url('../../resource/assets/images/icon_daifahuo@2x.png');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.containerrr .login_wrap .wrap .loginBox .form_item label.yzcode_ico,
.containerrr .login_wrap .wrap .codebox .form_item label.yzcode_ico {
  position: absolute;
  left: -1px;
  top: 0;
  width: 40px;
  height: 40px;
  background: url('../../resource/assets/images/icon_type2.png');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.containerrr .login_wrap .wrap .loginBox .form_item input,
.containerrr .login_wrap .wrap .codebox .form_item input {
  width: 230px;
  height: 24px;
  margin-left: 45px;
  border: 0 none;
  line-height: 24px;
  vertical-align: middle;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  outline: none;
}
.containerrr .login_wrap .wrap .loginBox .form_item .getCode,
.containerrr .login_wrap .wrap .codebox .form_item .getCode {
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 18px;
  height: 52px;
  line-height: 24px;
  z-index: 110;
  background-color: #fdbb36;
  color: #fff;
}
.containerrr .login_wrap .wrap .loginBox .form_item .getCode:hover,
.containerrr .login_wrap .wrap .codebox .form_item .getCode:hover {
  background-color: #FDB51B;
  cursor: pointer;
}
.containerrr .login_wrap .wrap .loginBox .login_btn,
.containerrr .login_wrap .wrap .codebox .login_btn {
  width: 330px;
  height: 35px;
  border: 0 none;
  border-radius: 3px;
  background: #E31939;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  text-shadow: 1px 1px 1px #ff7373;
  font-family: "Microsoft YaHei";
  line-height: 35px;
}
.containerrr .login_wrap .wrap .loginBox .login_pc,
.containerrr .login_wrap .wrap .codebox .login_pc,
.containerrr .login_wrap .wrap .loginBox .dimension_code,
.containerrr .login_wrap .wrap .codebox .dimension_code {
  display: block;
}
.containerrr .login_wrap .wrap .loginBox .login_code,
.containerrr .login_wrap .wrap .codebox .login_code,
.containerrr .login_wrap .wrap .loginBox .switch_pc,
.containerrr .login_wrap .wrap .codebox .switch_pc {
  display: none;
}
.containerrr .login_wrap .wrap .loginBox.box_login_switch .login_pc,
.containerrr .login_wrap .wrap .codebox.box_login_switch .login_pc,
.containerrr .login_wrap .wrap .loginBox.box_login_switch .dimension_code,
.containerrr .login_wrap .wrap .codebox.box_login_switch .dimension_code {
  display: none;
}
.containerrr .login_wrap .wrap .loginBox.box_login_switch .login_code,
.containerrr .login_wrap .wrap .codebox.box_login_switch .login_code,
.containerrr .login_wrap .wrap .loginBox.box_login_switch .switch_pc,
.containerrr .login_wrap .wrap .codebox.box_login_switch .switch_pc {
  display: block;
}
.containerrr .login_wrap .wrap .loginBox .join_login_wrap,
.containerrr .login_wrap .wrap .codebox .join_login_wrap {
  width: 387px;
  position: relative;
  left: -29px;
  border-radius: 5px;
  z-index: 10;
  padding-bottom: 0px;
  background-color: #dddddd;
  padding-left: 35px;
  padding-right: 35px;
}
.containerrr .login_wrap .wrap .loginBox .join_login_wrap p,
.containerrr .login_wrap .wrap .codebox .join_login_wrap p {
  padding: 10px 0 3px 0;
  color: #666;
  display: inline-block;
  width: 50%;
}
.containerrr .login_wrap .wrap .loginBox .join_login_wrap .zc,
.containerrr .login_wrap .wrap .codebox .join_login_wrap .zc {
  text-align: right;
  color: #ff3c3c;
}
.containerrr .login_wrap .wrap .loginBox .join_login_wrap .account_list,
.containerrr .login_wrap .wrap .codebox .join_login_wrap .account_list {
  float: left;
  width: 230px;
}
.containerrr .login_wrap .wrap .loginBox .join_login_wrap .account_list li,
.containerrr .login_wrap .wrap .codebox .join_login_wrap .account_list li {
  float: left;
  margin: 0 20px 0 0;
}
.containerrr .login_wrap .wrap .loginBox .join_login_wrap .account_list li a,
.containerrr .login_wrap .wrap .codebox .join_login_wrap .account_list li a {
  display: inline-block;
  height: 35px;
  font-size: 12px;
  line-height: 35px;
  width: 160px;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_title,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_title {
  color: #666;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_title em,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_title em {
  display: inline-block;
  color: #ff3c3c;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_pic,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_pic {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 20px auto 0;
  border: 1px solid #dedede;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_pic .picture_code,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_pic .picture_code {
  width: 180px;
  height: 180px;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_pic .picture_code img,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_pic .picture_code img {
  width: 100%;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_pic .shade,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_pic .shade {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  text-align: center;
  background-color: #fff;
  opacity: .8;
  filter: alpha(opacity=80);
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_pic .meg_error,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_pic .meg_error {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  text-align: center;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_pic .meg_error h5,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_pic .meg_error h5 {
  margin: 0;
  padding: 58px 0 15px;
  font-weight: normal;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_pic .meg_error .refresh_btn,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_pic .meg_error .refresh_btn {
  display: inline-block;
  width: 110px;
  height: 35px;
  background-color: #ff3c3c;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  line-height: 35px;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_success,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_success {
  display: none;
  padding-bottom: 65px;
  color: #666;
  text-align: center;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_success p,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_success p {
  padding-top: 20px;
  line-height: 14px;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_success h5,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_success h5 {
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_handle,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_handle {
  padding: 20px 0 50px;
  color: #666;
  text-align: center;
}
.containerrr .login_wrap .wrap .loginBox .login_code .login_code_handle .refresh,
.containerrr .login_wrap .wrap .codebox .login_code .login_code_handle .refresh {
  display: inline-block;
  color: #666;
}
.containerrr .login_wrap .wrap .loginBox .login_switch,
.containerrr .login_wrap .wrap .codebox .login_switch {
  position: absolute;
  right: 0;
  bottom: -3px;
}
.containerrr .login_wrap .wrap .loginBox .login_switch em,
.containerrr .login_wrap .wrap .codebox .login_switch em {
  display: inline-block;
  _display: none;
  display: none\9;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 43px solid transparent;
  border-right-color: #fff;
  transform: rotate(46deg);
  -ms-transform: rotate(46deg);
  -moz-transform: rotate(46deg);
  -webkit-transform: rotate(46deg);
  -o-transform: rotate(46deg);
}
.containerrr .login_wrap .wrap .loginBox .login_switch .bind,
.containerrr .login_wrap .wrap .codebox .login_switch .bind {
  display: block;
  width: 62px;
  height: 62px;
  cursor: pointer;
}
.containerrr .login_wrap .wrap .loginBox .login_switch .bind.switch_pc,
.containerrr .login_wrap .wrap .codebox .login_switch .bind.switch_pc {
  background: url('../../resource/assets/images/codeSwich.png') no-repeat 0 0;
}
.containerrr .login_wrap .wrap .loginBox .login_switch .bind.switch_pc:hover,
.containerrr .login_wrap .wrap .codebox .login_switch .bind.switch_pc:hover {
  background: url('../../resource/assets/images/codeSwich.png') no-repeat 0 -88px;
}
.containerrr .login_wrap .wrap .loginBox .login_switch .bind.dimension_code,
.containerrr .login_wrap .wrap .codebox .login_switch .bind.dimension_code {
  background: url('../../resource/assets/images/codeSwich.png') no-repeat -88px 0;
}
.containerrr .login_wrap .wrap .loginBox .login_switch .bind.dimension_code:hover,
.containerrr .login_wrap .wrap .codebox .login_switch .bind.dimension_code:hover {
  background: url('../../resource/assets/images/codeSwich.png') no-repeat -88px -88px;
}
.containerrr .footerr {
  width: 100%;
  height: calc(10vh);
  color: #333;
  text-align: center;
  line-height: calc(10vh);
  font-size: 12px;
}
.containerrr .showpage {
  display: block;
}
.containerrr .hidepage {
  display: none;
}
.containerrr .codebox {
  height: 331px;
}
.containerrr .checkbox {
  width: 230px;
  height: 70px;
  position: absolute;
  top: 0px;
  border-bottom: 2px solid #D5D5D5;
}
.containerrr .checkbox > div {
  font-size: 15px;
  width: 100px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  color: grey;
}
.containerrr .kc {
  margin-left: 30px;
}
.containerrr .silde1 {
  border-bottom: 3px solid #ff3c3c;
  color: #000!important;
  z-index: 2;
  cursor: pointer;
}
.containerrr .slide2 {
  display: none;
  cursor: pointer;
}
.containerrr .ewCode {
  display: inline-block;
  width: 230px;
  height: 30px;
  margin-bottom: 14px;
  position: relative;
}
.containerrr .ewCodeimg {
  margin-left: 12px;
  display: inline-block;
  width: 80px;
  height: 30px;
  margin-bottom: 14px;
  position: absolute;
}
.containerrr .ewcodein {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 225px;
  height: 30px;
  text-align: left;
  border: 1px solid #f0f0f0;
  text-indent: 58px;
}
.containerrr .codeimg {
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  height: 100%;
}
.containerrr .phonein {
  width: 324px;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-align: left;
}
.containerrr .eecode {
  width: 200px;
  border: 1px solid #f0f0f0;
}
.containerrr input {
  border: none;
}
.containerrr .getcodebtn {
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 12px;
  background-color: #E31939;
  width: 93px;
  height: 39px;
  position: absolute;
  font-weight: bold;
  text-align: center;
}
.containerrr .codein {
  width: 250px;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-align: left;
}
.containerrr .gcode {
  width: 150px!important;
  border: 1px solid #f0f0f0;
}
.containerrr .linechen {
  top: 82px;
}
.containerrr .login_btn1 {
  width: 330px;
  height: 35px;
  border: 0 none;
  border-radius: 3px;
  background: #E31939;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  text-shadow: 1px 1px 1px #ff7373;
  font-family: "Microsoft YaHei";
  line-height: 35px;
  position: relative;
}
.containerrr .ewCode1 {
  display: inline-block;
  width: 230px;
  height: 30px;
  margin-bottom: 14px;
  position: absolute;
}
.containerrr .ewcodein1 {
  position: absolute;
  top: 219px;
  left: 29px;
  border: none;
  width: 238px;
  height: 40px;
  text-align: left;
  border: 1px solid #dedede;
  text-indent: 21px;
  background-color: #fff;
  border: 1px solid #DDD;
}
.containerrr .ewCodeimg1 {
  margin-left: 18px;
  display: inline-block;
  width: 80px;
  height: 30px;
  margin-bottom: 14px;
  position: absolute;
  top: 3px;
  left: 200px;
}
.containerrr .midcover {
  width: 327px;
  height: 3px;
  background-color: #D5D5D5;
  position: absolute;
  top: 67px;
  z-index: 1;
}
.containerrr .oo {
  width: 236px!important;
  display: inline-block;
}
.containerrr .ecode {
  width: 160px!important;
}
.containerrr .anticon-user ::before {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}
.containerrr .lock {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 9px;
  background: url('../../resource/assets/images/user-icon.png') no-repeat;
  background-position: 0 -36px;
}
.containerrr .anticon-lock ::before {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}
.containerrr .yzform {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 9px;
  background: url('../../resource/assets/images/user-icon.png') no-repeat;
  background-position: 0 -57px;
}
.containerrr .yzform :first-child {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-left: 10px;
}
.containerrr .anticon-yzform ::before {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}
.regist {
  position: absolute;
  top: 26px;
  right: 27px;
  font-size: 12px;
  color: #E31939!important;
}
.forget {
  color: #E31939!important;
}
