.offcial{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	background: #fff;
}

.offcial .title{
	height: 2.048rem;
	line-height: 2.048rem;
	text-align: center;
	position: relative;
	font-size: 0.682667rem;
	// border-bottom: 0.021333rem solid #ccc;
	box-shadow: 0 1px 6px #ece8e8;
	z-index: 999;
}

.offcial .title img{
	position: absolute;
	left: 0.64rem;
	top: 0.56667rem;
	width: 0.512rem;
}

.offcial .content{
	position: absolute;
	top:2.048rem;
	bottom: 0;
	overflow: hidden;
}
.artical{
	padding: 0.64rem;
	line-height: 2;
	border-bottom: 0.021333rem solid #f5f5f5;
}
.artical h6{
	font-size: 0.597333rem;
	color: #333;
	font-weight: normal;
}
.artical p{
	font-size: 0.554667rem;
	color: #666;
	font-weight: normal;
}