*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
header{
    width: 100%;
    /* height: 5.674667rem; */
}
footer{
    width: 100%;
    height: 2.56rem;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    padding-left: .83rem;
    padding-top: .45rem;
    /* line-height: 2.56rem; */
    font-size: .64rem;
    color: #333333;
}
footer button{
    width: 14.293333rem;
    height: 1.578667rem;
    border-radius: .213333rem;
    background-color: #FFDA32;
    font-size: .59rem;
}
.goImg{
    width: .298667rem;
    height: .469333rem;
    position: absolute;
    top: 1.04rem;
    right: 5.7rem; 
}
.cover{
    width: 100%;
    height: 2.56rem;
}