th {
  width: 50px;
}
.goods-page {
  font-size: 12px;
}
.goods-page .top-other-btn .ant-btn {
  margin-right: 10px;
}
.goods-page .bottom-other-btn {
  margin-top: 10px;
}
.goods-page .bottom-other-btn .ant-btn {
  margin-right: 10px;
}
.goodsSpec {
  margin-bottom: 15px;
}
.goodsSpec .ant-card-body {
  padding: 15px;
}
.goodsSpec .innerBox {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #d9d9d9;
}
.goodsSpec .autoCompleteInput {
  float: left;
}
.goodsSpec .autoCompleteInput .autoComplete {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.goodsSpec .btnAddSpec {
  float: left;
}
.goodsSpecItem .ant-card-body {
  padding: 10px;
}
.goodsSpecItem .ant-form-item {
  margin-bottom: 10px !important;
}
.goodsSpecBtnGroup button {
  margin-right: 10px;
}
.goods-edit-title-inner {
  background-color: #f8f8f8;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  margin: 20px 0;
}
.deleteBtn {
  float: left;
}
.addSpecImgBtn {
  margin: 10px 0 0 10px;
}
.deleteSpecBtn {
  margin: 4px 0 0 10px;
}
.avatar-uploader .ant-upload {
  width: 80px;
  height: 80px;
}
.avatar-uploader .ant-upload img {
  width: 100%;
}
/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
.brandlist a {
  margin-bottom: 3px;
  display: block;
}
.brandAddModal .brandAddBtn {
  display: block;
  min-width: 490px;
  margin-left: 18px;
}
.brandAddModal .ant-upload-list-item-done {
  width: 490px;
}
.brandAddModal .addCheackRadio {
  display: inline-block;
  width: 600px;
  margin-bottom: 20px;
  padding-left: 18px;
}
.ant-upload-list-picture div {
  width: 490px;
  margin-left: 18px;
  overflow: hidden;
}
.brandlists .ant-table-thead th:first-child {
  text-align: left!important;
  background: #dbf3ff;
}
.brandlists .ant-table-thead th {
  background: #dbf3ff;
}
.brandlists .ant-table-tbody tr td:first-child {
  text-align: left!important;
}
.brandlists .ant-table-thead {
  background: #dbf3ff;
  height:  40px;
  line-height:  40px;
}
.firstCol {
  width: 517px;
  padding-right: 65px;
}
.bar {
  color: #108ee9;
  margin: 10px 0 0 20px;
  cursor: pointer;
  width: 200px;
  height: 57px;
  display: inline-block;
}
.fixbtn {
  background-color: #108ee9;
  color: #fff;
  width: 80px;
  height: 40px;
  border-radius: 50%!important;
  text-align: center!important;
}
.addBrrandBtn {
  width: 92px;
}
.findBtn {
  width: 78px;
}
.ddMainList {
  height: 200px;
  overflow: scroll;
}
.infoList {
  height: 100px;
  overflow: scroll;
}
.pll .ant-form-item-control {
  text-align: left;
  margin-left: 20px;
}
