#allocation {
  background-color: #fff;
}
#allocation .od_list__card .ant-card-body {
  padding-bottom: 6px;
}
#allocation .ant-table-selection-column {
  width: 50px!important;
  text-align: center!important;
}
#allocation .ant-table-selection-column div:nth-child(1) {
  padding: 0;
  display: none;
}
#allocation .fpBtnStyle {
  background-color: #108ee9;
  color: #fff;
}
#allocation .ant-table-thead > tr > th div {
  padding: 5px 10px;
  text-align: left;
}
#allocation .ant-table-thead > tr > th div:nth-child(6) {
  text-align: center;
}
#allocation .ant-table-thead > tr > th:nth-child(7) div {
  min-width: 100px;
  text-align: center;
}
#allocation .ant-table-thead > tr > th:nth-child(8) div {
  min-width: 100px;
  text-align: center;
}
#allocation .ant-table-row:hover td {
  background: #fff;
}
#allocation .ant-table-row td:nth-child(1) {
  width: 30%;
}
#allocation .ant-table-row td:nth-child(2) {
  width: 30%;
}
#allocation .ant-table-row td:nth-child(3) {
  width: 20%;
}
#allocation .ant-table-row td:nth-child(4) {
  width: 20%;
}
#allocation .ant-card-bordered {
  border: 0!important;
}
#allocation .ant-table-row td:first-child {
  width: 200px;
  text-align: left;
}
#allocation .ant-table-row td:nth-child(2) {
  width: 200px;
  text-align: left;
}
#allocation .ant-table-row td:nth-child(3) {
  width: 200px;
  text-align: left;
}
#allocation .ant-table-row td:nth-child(4) {
  width: 200px;
  text-align: left;
}
#allocation .ant-table-row td:nth-child(5) {
  width: 200px;
  text-align: left;
}
#allocation .ant-table-row td:nth-child(6) {
  width: 200px;
  text-align: left;
}
#allocation .ant-table-title {
  padding: 3px;
  background-color: #f0f0f0;
  text-align: left;
}
#allocation .ant-table-title div {
  text-align: left;
  margin-left: 7px;
}
#allocation .new_column_type {
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#allocation .new_column_type p {
  overflow: hidden;
}
#allocation .new_column_type p:first-child {
  width: 500px;
  padding-left: 5px;
  text-align: left;
  float: left;
}
#allocation .new_column_type p:nth-child(2) {
  width: 200px;
  text-align: right!important;
  float: right;
}
#allocation .topTabs {
  padding: 7px 0 0 15px;
}
#allocation .ant-table-thead > tr > th {
  padding: 0!important;
}
#allocation .order-page {
  padding: 0;
}
#allocation .order-page .g-img {
  color: #1890ff;
  cursor: pointer;
}
#allocation .order-page .searchForm {
  padding-top: 20px;
}
#allocation .order-page .ant-select-selection {
  width: 100%!important;
}
#allocation .order-page .ant-form-item-control {
  width: 100%!important;
}
#allocation .order-page .bar {
  color: #108ee9;
  margin: 10px 0 0 20px;
  cursor: pointer;
}
#allocation .order-page .fr {
  padding-left: 5px;
  padding-top: 12px;
  color: #108ee9;
  cursor: pointer;
  margin-bottom: 30px;
}
#allocation .order-page .ant-card-bordered {
  border: 0!important;
}
#allocation .order-page .formSearch {
  background-color: #fff;
}
#allocation .order-page .ant-card-body {
  padding: 0 15px;
}
#allocation .order-page .btns {
  float: right;
  margin-top: 5px;
}
#allocation .order-page .btns button {
  margin-left: 20px;
}
#allocation .order-page .btns .anticon {
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
}
#allocation .order-page .od_list__card .ant-card-body {
  padding-bottom: 10px;
}
#allocation .order-page .od_list__card .ant-tag {
  height: 40px;
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
}
#allocation .order-page .lh_s {
  line-height: 34px;
}
#allocation .order-page .od_list__table .head {
  background: #dbf3ff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
#allocation .order-page .od_list__table .wrapper {
  margin: 10px 0;
}
#allocation .order-page .od_list__table .wrapper thead th {
  height: 0;
  padding: 0;
}
#allocation .order-page .od_list__table .wrapper td {
  text-align: center;
}
#allocation .order-page .od_list__table .new_column_type {
  background-color: #000;
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#allocation .order-page .od_list__table .new_column_type p {
  float: left;
  overflow: hidden;
}
#allocation .order-page .od_list__table .new_column_type p:first-child {
  width: 200px;
  padding-left: 10px;
  text-align: left;
}
#allocation .order-page .od_list__table .new_column_type p:nth-child(2) {
  width: 100px;
}
#allocation .order-page .fl_r {
  float: right;
}
#allocation .order-page .mr_l {
  margin-right: 15px;
}
#allocation .order-page .order-info {
  padding-top: 5px;
  line-height: 1.1;
  text-align: center;
}
#allocation .order-page .order-info .innerBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
}
#allocation .order-page .order-info .innerBox .productInfo {
  text-align: left;
  cursor: pointer;
}
#allocation .order-page .order-info .pic {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#allocation .order-page .order-info p {
  margin-bottom: 2px;
  color: #666;
}
#allocation .order-page .order-info .sku {
  font-size: 11px;
}
#allocation .order-page .order-info .name {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#allocation .order-page .order-info .name a {
  color: #666;
}
#allocation .order-page .ant-table-row:hover td {
  background: #fff;
}
#allocation .order-page .ant-table-row td:nth-child(1) {
  width: 30%;
}
#allocation .order-page .ant-table-row td:nth-child(2) {
  width: 15%;
}
#allocation .order-page .ant-table-row td:nth-child(3) {
  width: 10%;
}
#allocation .order-page .ant-table-row td:nth-child(4) {
  width: 20%;
}
#allocation .ant-modal .addBdModal .ant-modal-body {
  height: 400px!important;
}
#allocation .searchForm div:nth-child(1) {
  padding: 0;
}
