.loginContainer .el-input-group__prepend,
.loginContainer .el-input-group__append{
  width: 82px;
  text-align: center;
  padding: 0;
  background: #fff;
  border: 1px solid #008EE5;
  border-right: 0;
}
.loginContainer .el-input__inner{
  height: 46px;
}
.loginContainer .el-input-group__prepend{
  border-radius: 0;
}
.loginContainer .el-form-item.is-success .el-input__inner{
  border-left: 0;
  border-color: #008EE5;
}
.loginContainer .el-form-item.is-error .el-input__inner{
  border-left: 0;
}
.loginContainer .el-input-group--prepend .el-input__inner{
  border-left: 0;
}
.loginContainer .el-form-item.is-error .el-input-group__prepend,
.loginContainer .el-form-item.is-error .el-input-group__append{
  border-color: #fa5555;
}
.loginContainer .el-form-item.is-success .el-input__inner:focus ,
.loginContainer .el-input__inner:focus,
.loginContainer .el-input__inner:hover{
  border-color: #008EE5;
}
.loginContainer .el-form-item__content{
  font-size: 16px;
  width: auto !important;
}
.loginContainer .el-input__inner{
  border-color: #008EE5;
}
.loginContainer .el-button--primary{
  background-color: #008EE5;
  border-color: #008EE5;
  font-weight: normal;
  font-size: 16px;
}


.el-form-item__label{
  font-size: 14px;
  color: #333;
}

.el-input__inner{
  border: 1px solid #DDDDDD;
  height: 36px;
  border-radius: 0;  
}
.el-textarea__inner{
  border: 1px solid #DDDDDD;
  border-radius: 0;
  resize: none;
}
.el-button--primary{
  background-color: #008EE5;
  border-color: #008EE5;
}
.el-button{
  padding: 10px 36px
}
.el-form-item__label{

}
.el-form-item__label{
  padding: 0;
}
.el-form-item__content{
  width: 195px;
}

.tableWrap{
  width:100%;
  font-size:12px;
  padding: 20px 10px;
}
.footerContent{
  padding: 20px;
}
.el-pagination{
  text-align: right;
  padding: 15px 0px 0px;
}
.bottom-btn{
  margin-top: 20px;
  position:absolute;
  top:0;
}

.line-02{
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  height: 44px;
  text-align: left;
}

.href{
  color: #008EE5;
  line-height: 1.6;
  cursor: pointer;
}
.href:hover{
  text-decoration: underline;
}

.el-checkbox__inner{
  border-radius: 0;
}

.goodDetails .el-form-item__content{
  margin-left: 108px !important;
}
.dateWrap .el-form-item {
  width: 100%;
}
.el-date-editor.el-input{
  width: 176px;
}
.dateWrap .el-date-editor.el-input{
  width: 198px;
}
.orderList .dateWrap .el-form-item__content{
  width: 82%;
}
.orderList .el-radio-group{
  padding: 20px;
  border-bottom: 12px solid #f5f5f5;
  width: 100%;
}
.orderList .el-radio-button__inner{
  border: 0;
}
.orderList .el-radio-button:first-child .el-radio-button__inner{
  border: 0;
}
.orderList .el-radio-button__orig-radio:checked+.el-radio-button__inner{
  color: #409EFF;
  background-color: transparent;
  -webkit-box-shadow: -1px 0 0 0 #409EFF;
  box-shadow: -1px 0 0 0 transparent;
}

.goodsMarket .searchInput .el-form-item__content{
  width: 260px;
}
.goodsMarket .el-radio-button__inner{
  border: 0;
  border-radius: 0;
  font-weight: normal;
}
.goodsMarket .el-radio-button:first-child .el-radio-button__inner{
  border: 0;
}
.goodsMarket .selectList .el-form-item__content,
.withDrawal .el-form-item__content{
  width: auto;
}

.myIncome .el-form-item__content{
  width: auto;
}
.drawInput input{
  width: 130px;
}

.commissionConfigure .el-form-item__content{
  width: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type="number"]{
  -moz-appearance: textfield !important;
}
