#superWebAddVisitList {
  padding: .3rem;
  background-color: #002140;
  min-height: calc(100vh);
}
#superWebAddVisitList .pageTitle {
  position: relative;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background-color: #999;
  color: #000;
  font-size: .3rem;
  text-align: center;
  font-weight: bold;
}
#superWebAddVisitList .pageTitle .returnIcon {
  width: .45rem;
  height: .58rem;
  position: absolute;
  left: .2rem;
  top: .2rem;
}
#superWebAddVisitList .pageTitle .returnIcon svg {
  width: 100%;
  height: 100%;
}
#superWebAddVisitList .inputTxt {
  height: .7rem;
  background-color: #fff;
}
#superWebAddVisitList .inputFlexBo {
  height: .7rem;
  padding-left: .4rem;
}
#superWebAddVisitList .inputFlexBo p {
  color: #333;
  margin-bottom: 0;
  width: 2.1rem;
  height: .4rem;
  line-height: .4rem;
  font-size: .3rem;
  font-weight: bold;
}
#superWebAddVisitList .inputFlexBo .inputFlexBoIn {
  width: 4rem;
  height: .4rem;
  padding-left: 0;
}
#superWebAddVisitList .inputFlexBo .inputFlexBoIn .am-input-control {
  width: 4rem;
  height: .4rem;
}
#superWebAddVisitList .inputFlexBo .inputFlexBoIn .am-input-control input {
  width: 4rem;
  height: .4rem;
  font-size: .3rem;
  font-weight: bold;
}
#superWebAddVisitList .inputFlexType {
  height: .7rem;
  padding-left: .4rem;
}
#superWebAddVisitList .inputFlexType p {
  color: #333;
  margin-bottom: 0;
  width: 2rem;
  height: .4rem;
  line-height: .4rem;
  font-size: .3rem;
  font-weight: bold;
}
#superWebAddVisitList .inputFlexType .am-list-item {
  height: .4rem;
  min-height: .4rem;
}
#superWebAddVisitList .inputFlexType > div {
  width: 3.7rem;
  height: .4rem;
}
#superWebAddVisitList .inputFlexType > div .am-list-content {
  font-size: .3rem;
  line-height: .4rem;
  color: #333;
}
#superWebAddVisitList .inputFlexType > div .am-list-extra {
  display: inline-block;
  width: 3rem;
  font-size: .3rem;
  line-height: .4rem;
  color: #333;
  text-align: left;
}
#superWebAddVisitList .inputFlexType > div .am-list-arrow {
  width: .3rem;
  height: .3rem;
}
#superWebAddVisitList .inputFlexType .picker {
  width: 3rem;
  height: .4rem;
}
#superWebAddVisitList .am-textarea-item {
  min-height: .7rem;
  padding-left: .4rem;
}
#superWebAddVisitList .am-textarea-item .am-textarea-label {
  margin-bottom: 0;
  margin-right: 0;
  width: 2.1rem;
  height: .7rem;
  line-height: .7rem;
  font-size: .3rem;
  font-weight: bold;
  color: #333;
}
#superWebAddVisitList .am-textarea-item .am-textarea-control {
  width: 2rem;
  padding-top: .1rem;
  min-height: .7rem;
}
#superWebAddVisitList .am-textarea-item .am-textarea-control textarea {
  min-height: .5rem!important;
  line-height: .5rem;
  font-size: .3rem;
  word-wrap: wrap;
  color: #333;
  font-weight: bold;
}
#superWebAddVisitList .imgUpload {
  background-color: #fff;
  min-height: .7rem;
}
#superWebAddVisitList .imgUpload p {
  margin-bottom: 0;
  padding-left: .4rem;
  color: #333;
  width: 2.1rem;
  height: .7rem;
  line-height: .7rem;
  font-size: .3rem;
  font-weight: bold;
}
#superWebAddVisitList .imgUpload .am-flexbox-item {
  margin-right: .2rem;
}
#superWebAddVisitList .imgUpload .am-image-picker-item-remove {
  width: .3rem;
  height: .3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.am-wingblank.am-wingblank-lg {
  height: 2.3rem;
}
.autoheight {
  height: auto!important;
}
.am-picker-popup-content {
  width: 100%;
  min-height: 3rem;
}
.am-picker-popup-content .am-picker-popup-header {
  height: .8rem;
}
.am-picker-popup-content .am-picker-popup-header > div {
  font-size: .3rem;
}
.am-picker-popup-content .am-picker .am-picker-col {
  height: 2.4rem;
}
.am-picker-popup-content .am-picker .am-picker-col-indicator {
  top: .5rem!important;
  height: .5rem;
}
.am-picker-popup-content .am-picker .am-picker-col-content {
  padding: 1rem 0!important;
}
.am-picker-popup-content .am-picker .am-picker-col-content > div {
  font-size: .3rem;
  padding: 1rem;
  padding-top: 0;
}
.am-picker-popup-content .am-picker .am-picker-col-item {
  height: .3rem;
  min-height: .3rem;
  line-height: .3rem;
  padding: 0!important;
  padding-top: .12rem!important;
  padding-bottom: .3rem!important;
}
.am-picker-col-mask {
  background-size: 100% 39%!important;
}
.return {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .8rem;
  background-color: #fff;
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}
.return :first-child {
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  font-size: .36rem;
  background-color: #fff;
  color: #333;
  font-weight: bold;
}
